.App {
  text-align: center;
}

.App-logo {
  height: 270vmin;
}

.as{
  margin-top: 100px;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 5vh;
  display: block;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  font-size: calc(60px + 2vmin);
  color: cornflowerblue;
}



.logo{
  color: cornflowerblue;
  font-family: 'Montserrat', bold, sans-serif;
  text-align: center;
}

.center-align{
  text-align: center;
}

.blue-text{
  color:cornflowerblue;
}

